[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=root
Group=root
RuntimeDirectory=gunicorn
WorkingDirectory=/backbone/
Environment="GOOGLE_APPLICATION_CREDENTIALS=/backbone/credentials.json"
ExecStart=/backbone/venv/bin/gunicorn --pid /run/gunicorn/pid   \
          --bind :5000 'backbone:create_app()'
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target

